@import ./_colors
@import ./_mixins

footer
  .footer-top
    color: $light
    +links-in-dark
  .footer-middle
    color: $light
    +links-in-dark
    font-size: small
  .footer-bottom
    background-color: $black
    color: $light
    +links-in-dark
