input, textarea
  &:focus
    border-color: orange !important
    box-shadow: none !important
    outline: 0 none
  &.form-control
    border-width: 2px !important
    border-radius: 0rem !important

textarea
  min-height: 3em !important
  max-height: 20em !important

button
  &:disabled,
  &.disabled
    cursor: not-allowed !important
