@import ./_colors

.navbar
  z-index: 12
  .container
    padding-left: 0px !important
    padding-right: 0px !important
  .nav-link
    text-decoration: none
    &:hover
      color: $main-color
      transition: color .2s ease-in-out
  .dropdown-item
    &.active
      background-color: $main-color
      color: $black
    &:not(.active):hover
      background-color: lighten($main-color, 20%)
    &:focus
      background-color: darken($main-color, 3%)
